.codeblitz-dialog {

  height: 75vh;

  :global {
    .ant-modal-content {
      padding: 0;
      overflow: hidden;
    }

    .ant-modal-close {
      top: 5px;
      right: 5px;
    }
  }

  :global {
    #main-horizontal-ai {
      padding-top: 40px !important;
      padding-right: 10px !important;
    }

    .codeblitz-dark {
      background-color: transparent !important;
    }
    
    div[data-menu-id='activityBar/extra'] {
      display: none;
    }

    #opensumi-quickpick {
      margin-top: 110px;
    }
  }
}
